[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
thriftpy = "*"
flask = "*"
attrs = "*"
astroid = "*"
pylint = "*"

[dev-packages]
black = "*"
coverage = "*"
pylint = "*"
pytest = "*"
pre-commit = "*"

[pipenv]
allow_prereleases = true
