[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
attrs = "*"
flask = "*"
"thriftpy2" = "*"

[dev-packages]
black = "*"
pytest = "*"
pre-commit = "*"
astroid = "*"
pylint = "*"
pytest-cov = "*"
twine = "*"
isort = "*"
coverage = "==4.5.1"

[pipenv]
allow_prereleases = true
